/* Neon Button */
.button {
    position: relative;
    padding: 15px 30px;
    display: inline-block;
    color: #cecece;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.2s
}
.buttonLine {
    position: absolute;
    display: block;
}
.buttonLine--top {
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, transparent, #cecece);
}
.button:hover .buttonLine--top {
    left: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.buttonLine--bottom {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg, transparent, #cecece);
}
.button:hover .buttonLine--bottom {
    right: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.buttonLine--right {
    right: 0;
    top: -100%;
    width: 4px;
    height: 100%;
    background: linear-gradient(90deg, transparent, #cecece);
}
.button:hover .buttonLine--right {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.buttonLine--left {
    left: 0;
    bottom: -100%;
    width: 4px;
    height: 100%;
    background: linear-gradient(0deg, transparent, #cecece);
}
.button:hover .buttonLine--left {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.button:hover {
    box-shadow: 0 0 10px #cecece, 0 0 40px #cecece;
    background-color: #cecece;
    color: #1c1c1c;
    /* transition: 1s; */
    transition-delay: 1s;
}
/* Neon Button End */